/* Universal Styles */

html {
    font-size: 16px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2.25rem;
}

h2#small {
    font-size: 1.25rem;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.gray-background {
    background-color: rgb(235, 232, 232);
}

.blue {
    color: rgb(145, 223, 253);
    font-weight: bold;
}


/* Header Sytles */

header {
    display: flex;
    flex-direction: row;
    padding: 0 1.5rem;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.right-side-flex {
    display: inline-flex;
    align-items: center;
    font-size: 32px;
}

#logo {
    width: auto;
    height: 3rem;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
}

li {
    list-style: none;
    display: inline-block;
    padding-left: 1rem;
}

button {
    background-color: rgb(83, 83, 83);
    border: none;
    border-radius: 0;
    color: white;
    padding: 0.5rem 6.7rem;
    font-size: 1rem;
    margin-top: 1.245rem;
}


/* Main Styles */


/* Banner Section */

.banner {
    display: flex;
    flex-direction: row;
}

.banner__pic img {
    width: 100%;
    height: auto;
}

.banner__pic {
    width: 60%;
    padding: 2rem 2rem 2rem 1.5rem;
}

.banner__info {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
}

@media only screen and (max-width: 950px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }
    .banner__info {
        width: 100%;
        padding-bottom: 2rem;
        margin-left: 0;
        align-items: center;
        text-align: center;
    }
    .banner__pic {
        width: 100%;
        padding: 0;
    }
}


/* School Information Section */

.school-info {
    display: flex;
    flex-direction: row;
}

.school-info__right {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem 4rem 1.5rem;
}

.school-info__right__pic {
    width: 100%;
}

.school-info__right__pic img {
    width: 100%;
    height: auto;
}

.quote {
    font-weight: 300;
    font-size: 1rem;
    font-style: italic;
}

.school-info__articles {
    width: 40%;
    border-left: 1px solid rgb(235, 232, 232);
    padding: 2rem 1.5rem 4rem 0;
}

.article {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.article img {
    width: 35%;
    height: auto;
    padding-right: 1rem;
}

#fancy-bottom {
    border-bottom: 5px solid rgb(235, 232, 232);
}

@media only screen and (max-width: 1285px) {
    .school-info {
        flex-direction: column;
        align-items: center;
    }
    .school-info__right {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }
    .school-info__articles {
        border-left: none;
        padding: 1rem;
        margin: 0 auto;
        width: 60%;
    }
}


/* Learning Section */

.learning {
    padding: 4rem 8rem;
}

.learning h2 {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 0;
}

.grid-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.grid-item {
    background-color: white;
}

.grid-item__content {
    padding: 1rem 1rem 1.5rem 1rem;
}

.grid-item__content p,
.grid-item__content h4 {
    margin-top: 0.5rem;
}

.grid-item img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1285px) {
    .learning {
        padding-bottom: 1rem;
    }
    .grid-item__content {
        padding: 0.5rem 1rem 0.75rem 1rem;
    }
}

@media only screen and (max-width: 950px) {
    .grid-container {
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }
}


/* Thesis Exhibit Section */

.thesis-exhibit {
    margin-top: 4rem;
}

.thesis-exhibit__content {
    display: flex;
    flex-direction: row;
}

.thesis-exhibit h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}

.thesis-exhibit__content__right {
    width: 60%;
    margin: 2rem 1rem 4rem 1.5rem;
}

video {
    width: 100%;
    height: auto;
}

.thesis-exhibit__articles {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2rem 0.5rem 4rem 0rem;
}


/* Footer Styles */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding: 0.5rem 1.5rem 4rem 1.5rem;
}

.left-side p {
    display: inline-block;
    padding-left: 0.5rem;
}

@media only screen and (max-width: 1285px) {
    .thesis-exhibit__content {
        flex-direction: column;
        align-items: center;
    }
    .thesis-exhibit__articles {
        width: 60%;
        margin: 1rem auto;
    }
    .thesis-exhibit__content__right {
        margin: 0;
    }
}